In [1]:
mystring='hello'

In [4]:
mylist=[]
for letter in mystring:
    mylist.append(letter)

In [5]:
mylist

['h', 'e', 'l', 'l', 'o']

In [6]:
mylist=[letter for letter in mylist]

In [7]:
mylist

['h', 'e', 'l', 'l', 'o']

In [11]:
 mylist=[x**2 for x in range(0,11)]

In [12]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [14]:
mylist=[x for x in range(0,11) if x%2==0]

In [15]:
mylist

[0, 2, 4, 6, 8, 10]

In [20]:
celcius=[0,10,20,34.5]

fahrenheit=[((9/5)*temp+32) for temp in celcius]

In [21]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [22]:
result=[x if x%2==0 else 'odd' for x in range(0,11)]

In [23]:
result

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd', 10]

In [31]:
mylist=[]

for x in [2,4,6]:
    for y in [100,200,300]:
            mylist.append(x*y)

In [32]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [1]:
mylist=[1,2,3]

In [2]:
mylist.append(4)

In [3]:
mylist

[1, 2, 3, 4]

In [4]:
help(mylist.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [5]:
def say_hello():
    print("Hello")

In [6]:
say_hello()

Hello

In [7]:
def say_hello('name'):
    print(f'Hello {'name'}')

In [10]:
say_hello('Abhijeet')

Hello Abhijeet

In [11]:
def add_num(num1,num2):
    return num1+num2

In [15]:
result=add_num(20,30)

In [16]:
result

50

In [1]:
stock_prices=[('Appl',200),('Goog',400),('Msft',100)]

In [2]:
for item in stock_prices:
    print(item)

('Appl', 200)
('Goog', 400)
('Msft', 100)

In [4]:
for ticker,price in stock_prices:
    print(price+(0.10*price))

220.0
440.0
110.0

In [9]:
work_hours=[('Abby',100),('Billy',4000),('Cassie',800)]

In [10]:
def employee_check(work_hours):
    
    current_max=0
    employee_of_month=''
    
    for employee,hours in work_hours:
        if hours>current_max:
            current_max=hours
            employee_of_month=employee
        else:
            pass
    
    return(employee_of_month,current_max)

In [11]:
employee_check(work_hours)

('Billy', 4000)

In [12]:
name,hours=employee_check(work_hours)

In [13]:
name

'Billy'

In [14]:
hours

4000

In [15]:
example=[1,2,3,4,5,6,7]

In [16]:
from random import shuffle

In [19]:
result=shuffle(example)

In [20]:
example

[3, 5, 6, 1, 4, 7, 2]

In [21]:
result

In [22]:
def shuffle_mylist(mylist):
    shuffle(mylist)
    return mylist

In [24]:
result=shuffle_mylist(example)

result

In [25]:
result

[3, 7, 4, 2, 6, 1, 5]

In [26]:
mylist=['','O','']

In [27]:
shuffle_mylist(mylist)

['', '', 'O']

In [30]:
def player_guess():
    
    guess=''
    
    while guess not in ['0','1','2']:
        guess=input('pick a number 0,1,or 2 = ')
        
    return int(guess)

In [32]:
player_guess()

pick a number 0,1,or 2 = 8
pick a number 0,1,or 2 = 2

2

In [33]:
myindex=player_guess()

pick a number 0,1,or 2 = 2

In [34]:
myindex

2

In [36]:
def check_guess(mylist,guess):
    if mylist[guess]=='O':
        print('correct!')
    else:
        print('wrong guess!')
        print(mylist)

In [41]:
mylist=['','O','']

mixeduplist=shuffle_mylist(mylist)

guess=player_guess()

check_guess(mixeduplist,guess)

pick a number 0,1,or 2 = 2
wrong guess!
['', 'O', '']

In [1]:
def myfunc(a,b):
    return(a+b)*0.05

In [3]:
myfunc(40,60)

5.0

In [6]:
def myfunc(*args):
    return sum(args)*0.05

In [7]:
myfunc(40,60)

5.0

In [8]:
myfunc(40,60,30,50)

9.0

In [19]:
def myfunc(**kwargs):
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('I did not find any fruits here')

In [20]:
myfunc(fruit='apple')

My fruit of choice is apple