In [1]:
if True:
    print('ITS TRUE!')

ITS TRUE!

In [2]:
hungry= True
if hungry:
    print('FEED ME')

FEED ME

In [5]:
hungry= False
if hungry:
    print('FEED ME')
else:
    print('I AM NOT HUNGRY')

I AM NOT HUNGRY

In [8]:
loc='Bank'
if loc=='AUTO SHOP':
    print('cars are cool')
elif loc=='Bank':
    print('Money is cool')
else:
    print('I do not know much')

Money is cool

In [10]:
name='Sammy'
if name=='Frankie':
    print('Hello Frankie!')
elif name=='Sammy':
    print('Hello Sammy!')
else:
    print('What is your name?')

Hello Sammy!

In [11]:
mylist=[1,2,3,4,5,6,7,8,9,10]

In [13]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [14]:
for jelly in mylist:
    print('Hello')

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [22]:
for jelly in mylist:
    if jelly % 2==0:
        print(jelly)
    else:
        print(f'odd number: {jelly}')

odd number: 1
2
odd number: 3
4
odd number: 5
6
odd number: 7
8
odd number: 9
10

In [28]:
list_sum=0
for num in mylist:
    list_sum=num+list_sum
    
print(list_sum)

55

In [30]:
mystring= "HELLO WORLD"
for letter in mystring:
    print(letter)

H
E
L
L
O

W
O
R
L
D

In [34]:
tup=(1,2,3)
for item in tup:
    print(item)

1
2
3

In [35]:
mylist=[(1,2),(3,4),(5,6),(7,8)]

In [36]:
len(mylist)

4

In [38]:
for items in mylist:
    print(items)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [39]:
for(a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [40]:
d={'k1':1,'k2':2,'k3':3}
for items in d:
    print(items)

k1
k2
k3

In [43]:
for items in d.items():
    print(items)

('k1', 1)
('k2', 2)
('k3', 3)

In [45]:
for key,values in d.items():
    print(values)

1
2
3

In [48]:
x=0
while x<5:
    print(f'the value of x is: {x}')
    x=x+1
else:
    print("X IS NOT LESS THAN 5")

the value of x is: 0
the value of x is: 1
the value of x is: 2
the value of x is: 3
the value of x is: 4
X IS NOT LESS THAN 5

In [49]:
mystring='sammy'

In [57]:
for letter in mystring:
    if letter=='a':
        continue
    print(letter)

s
m
m
y

In [59]:
x=0
while x<5:
    if x==2:
        break
        

    print(x)
    x+=1

0
1

In [1]:
mylist=[1,2,3]

In [2]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [3]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [4]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [6]:
index_count=0
for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count+=1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [1]:
word='abcde'
for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [2]:
mylist1=[1,2,3]
mylist2=['a','b','c']

In [7]:
for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [9]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [12]:
2 in [1,2,3]

True

In [13]:
'x' in ['x','y','z']

True

In [14]:
'a' in 'a world'

True

In [15]:
'mykey' in {'mykey':245}

True

In [16]:
mylist=[10,20,30,40,100]

In [17]:
min(mylist)

10

In [18]:
max(mylist)

100

In [20]:
from random import shuffle

In [31]:
mylist=[1,2,3,4,5,6,7,8,9,10]

In [76]:
shuffle(mylist)

In [77]:
mylist

[4, 7, 2, 8, 5, 1, 9, 6, 10, 3]

In [78]:
from random import randint

In [79]:
randint(0,100)

64

In [80]:
input('enter a number?')

enter a number?12

'12'

In [82]:
result=input('what is your name ?')

what is your name ?abhijeet

In [83]:
result

'abhijeet'

In [84]:
res=input('what is your favourite number?')

what is your favourite number?30

In [85]:
res

'30'

In [86]:
float(res)

30.0

In [87]:
int(res)

30

In [88]:
mystring='hello'

In [ ]:
mylist=[]
for letters in mystring:
    mylist.append(letters)

In [ ]:
mylist